@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-image: url(../imagens_projeto03/fundo003.jpg);
    backdrop-filter: brightness(35%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    position: relative;
}
.title{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    padding-top: 60px;
    border-bottom: 4px solid #f4f4f4;
    width: 35px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-item{
    background:transparent;
    color: #f4f4f4;
    font-family: "Roboto", sans-serif;
    backdrop-filter: blur(5px);
    width: 45%;
    height: 100vh;
    margin-bottom: 60px;
    padding-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.container-conteudo{
    width: 90%;
    height: 100%;
    position: relative;
}
/*HEADER*/
.container-header{  
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #f4f4f4;
    background: transparent;
    color: #f4f4f4;
    font-size: 24px;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#container-cont{
    color: #f4f4f4;
    text-align: center;
    text-transform: uppercase;
    height: 40%;
    width: 50%;
    padding: 20px 0;
    background: transparent;
    border-top: 2px solid #f4f4f4;
    border-bottom: 2px solid #f4f4f4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#container-cont h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 5px;
}
#container-cont p{
    display: inline-block;
    width: 85%;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
}

#container-cont::after, #container-cont::before{
    content: "";
    border: 1px solid #f4f4f4;
    background: #f4f4f4;
}
#container-cont::after{
    position: absolute;
    height: 50px;
    top: -52px;
}
#container-cont::before{
    position: absolute;
    bottom: -52px;
    height: 50px;
}

.container-header nav{
    background-color: transparent;
    display: inline-block;
    margin-top: 50px;
    width: 45%;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    color: #f4f4f4;
}
.container-header nav ul{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;

}
.container-header nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 2px solid #f4f4f4;
    cursor: pointer;
}

.container-header nav ul li:nth-child(2){
    border-left: none;
    border-right: none;
}
.container-header nav ul li:nth-child(4){
    border-left: none;
}
.container-header nav ul li:nth-child(1){
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
}
.container-header nav ul li:nth-child(4){
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px;
}
.container-header nav ul li:hover{
    background: #f4f4f423;
}
/*MAIN*/

/*ABOUT*/
#about picture{
    width: 100%;
    height: 50%;
    margin-top: 20px;
    display: inline-block;
}
#about picture img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#about p{
    font-family: "Roboto" sans-serif;
    margin-top: 20px;
}
#about .icons{
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icons ion-icon{
    font-size: 30px;
    transition: .2s ease-in;
}
.icons span{
    display: inline-block;
    text-align: left;
    padding-left: 10px;
}
/*GALLERY*/
main .container-item:nth-child(2){
    height: auto;
}
#images-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}
#images-grid .img{
    width: 100%;
    height: auto;
    position: relative;
}
#images-grid .img img{
    width: 100%;
    height: 300px;
}
.img.im{
    grid-column-start: 1;
    grid-column-end: 3;
}
#gallery nav{
    margin-top: 20px;
}
#gallery nav ul{
    display: flex;
    width: 100%;
}
#gallery nav ul li{
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 10px;
    border: 2px solid #f4f4f4;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s ease-in;
}
#gallery nav ul li.active{
    background: #f4f4f4;
    color: #010101;
}
#gallery nav ul li:nth-child(1){
    margin-left: 0;
}

/*SERVICES*/
#service-icons{
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
#services .info{
    font-size: 16px;
    padding-top: 30px;
    letter-spacing: 1px;
}
#service-icons > div{
    width:auto;
    height: auto;
}
.box{
    display: flex;
    align-items: top;
    flex-direction: column;
    text-align: center;
    margin-top: 35px;
}
.box h3{
    margin-top: 20px;
    margin-bottom: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0;
}
.box p{
    font-size: 16px;
    color: #c5c4c4;
    padding-top: 5px;
}
.box > ion-icon{
    font-size: 30px;
    margin: 0 auto;
    transition: .2s ease-in;
}
.box > ion-icon:hover,.icons ion-icon:hover{
    transform: rotate(45deg);
}
/*FOOTER*/
footer{
    font-family: "Roboto", sans-serif;
    position: relative;
}
/*CONTACT*/
footer .title{
    margin-bottom: 40px;
}
footer .container-input{
    display: flex;
}
footer .input-group{
    position: relative;
    margin-right: 10px;
}
footer .input{
    padding: 15px;
    border: none;
    width: 298px;
    margin: 10px 0;
    border-radius: 4px;
    color: #f4f4f4;
    background-color: transparent;
    outline: 2px solid #f4f4f4;
}
footer .input-label{
    position: absolute;
    top: 10px;
    left: 0;
    transform:  translate(10px, 10px);
    transition: transform .25s;
}
.input:focus + .input-label,
.input:valid + .input-label{
    transform: 
    translate(10px, -14px) 
    scale(.8);
    padding: 5px;
    background-color:#f4f4f4;
    color: #010101;
    border-radius: 4px;
}
.input:is(:focus, :valid){
    outline-color: #d1c5fc;
}
.email{
    margin-top: 15px;
}
.input.cont-email{
    width: 100%;
}

.text{
    margin: 20px 0;
    max-width: 100%;
    max-height: 250px;
    min-height: 100px;
}
.input-label.msg{
    top: -15px;
    left: 0;
}
footer .msg-enviada, .msg-resetada{
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 12px;
}
footer .msg-enviada{
    background-color: #f4f4f4;
    padding: 10px 15px;
    border: 2px solid #f4f4f4;
    margin-right: 10px;
    
}
footer .msg-resetada{
    background: transparent;
    color: #f4f4f4;
    border: 2px solid #f4f4f4;
    padding: 10px;
}
.msg-enviada:hover{
    background: transparent;
    color: #f4f4f4;
}
.msg-resetada:hover{
    background: #f4f4f4;
    color: #010101;
}
footer .icons-contact{
    margin-top:40px ;
    position: absolute;
    bottom: 0;
}
footer ion-icon{
   font-size: 25px;
   padding-right: 5px;
   cursor: pointer;
}

.face:hover{
    color: rgb(80, 80, 203);
}
.twiter:hover{
    color: rgb(31, 132, 173);

}
.icon-email:hover{
    color: rgb(215, 63, 63);
}
.linked:hover{
    color: rgb(50, 50, 155);
}

.up{
    background: transparent;
    outline: none;
    border-radius: 50%;
    border: 2px solid #f4f4f4;
    width: 40px;
    height: 40px;
    color: #f4f4f4;
    font-size: 20px;
    position: absolute;
    right: 150px;
    bottom: 100px;
    padding-left: 5px;
    display: absolute;
    align-items: center;
    justify-content: center;
}


/*responsividade*/
/*ceulular*/
@media only screen and (max-width: 600px){
    /*geral*/
    .container-item{
        width: 95%;
        height: 100vh;
        margin-bottom: 80px;
    }
    /*header*/
    #container-cont{
        width: 90%;
        padding: 10px 0;
    }
    .container-header nav{
        background-color: transparent;
        display: inline-block;
        margin-top: 50px;
        width: 90%;
        font-family: "Roboto",sans-serif;
        text-transform: uppercase;
        color: #f4f4f4;
    }
    /*main*/
    /*galeria*/
    #gallery nav ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #gallery nav ul li{
        padding: 10px 15px;
        margin-left: 10px;
        margin-bottom: 10px;
        
    }
    /*serviços*/
    #service-icons{
        grid-auto-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    /*footer*/
    footer .input{
        width: 100%;
    }
    .up{
        right: 50px;
        bottom: 75px;
    }
}